AppUserName=admin
AppPassword={{ devops_admin_password_encrypted }}
LicenseValidityDuration={{ license_duration }}
UserCount={{ license_user_count }}
Dbtype=mariadb
DbServerUserName=root
DbServerPassword={{ mysql_root_password }}
allowedDeltaForHeartBeat=86400
allowedDeltaForGenerationDate=259200
